In [ ]:
import pandas as pd
import numpy as np

In [ ]:
tester = pd.read_csv('citywide_president_citywide.csv',header=None)
tester.rename(columns={tester.columns[-1]: 'last'}, inplace=True)
tester['last'] = tester['last'].str.replace(',', '').astype(int)
#tester.iloc[:, -1] = tester.iloc[:, -1].str.replace(',', '').astype(int)
tester['last'].sum()

In [ ]:
pres = pd.read_csv('citywide_president_citywide.csv', header=None, usecols=[11, 12, 13, 14, 20, 21], names=['assembly_district', 'election_district', 'county', 'note', 'vote_choice', 'vote_count'])
pres['vote_count'] = pres['vote_count'].str.replace(',', '').astype(int)
pres['vote_choice'] = pres['vote_choice'].str.replace(r'\s*\(.*\)', '', regex=True)
pres = pres.groupby(['assembly_district', 'election_district', 'county', 'vote_choice'], as_index=False)['vote_count'].sum()
pres['vote_choice'] = pres['vote_choice'].replace({'Donald J. Trump / JD Vance': 'Trump', 'Kamala D. Harris / Tim Walz': 'Harris'})
pres

In [ ]:
pres['vote_choice'].unique()

In [11]:
import pandas as pd
from data_cleaner import ElectionDataCleaner

pres_cleaner = ElectionDataCleaner("citywide_president_citywide.csv", election_type='president')
df_pres_candidate, df_pres_ballot_type, pres_merged_districts = pres_cleaner.load_and_clean()


mayor_cleaner = ElectionDataCleaner("citywide_mayor_citywide.csv", election_type='mayor')
df_mayor_candidate, df_mayor_ballot_type, mayor_merged_districts = mayor_cleaner.load_and_clean()
df_mayor_candidate

,assembly_district,election_district,county,vote_choice,vote_count,ElectDist
0,23,1,Queens,Andrew Cuomo,683,23001
1,23,1,Queens,Curtis Sliwa,351,23001
2,23,1,Queens,Eric Adams,1,23001
3,23,1,Queens,Irene Estrada,5,23001
4,23,1,Queens,Jim Walden,2,23001
...,...,...,...,...,...,...
31154,87,55,Bronx,Eric Adams,0,87055
31155,87,55,Bronx,Irene Estrada,0,87055
31156,87,55,Bronx,Jim Walden,0,87055
31157,87,55,Bronx,Joseph Hernandez,0,87055
31158,87,55,Bronx,Zohran Mamdani,0,87055

In [13]:
from data_cleaner import ElectionDataCleaner, get_county_vote_tables
county_dfs = get_county_vote_tables(df_pres_candidate)

In [14]:
county_dfs['New York']

vote_choice        Harris  Scattered  Trump
assembly_district
61                   6839        218   2052
65                  33178        914  10488
66                  50188       1311   8233
67                  53565       1277   9080
68                  37344        888   7851
69                  53376       1154   6701
70                  44405        924   5341
71                  40151        907   7417
72                  28816        563  11468
73                  47047       1357  14402
74                  44299       1066   9363
75                  45066       1075   9060
76                  49508       1276  12465

In [7]:
mayor_districts = set(df_mayor_candidate['ElectDist'].unique())
pres_districts = set(df_pres_candidate['ElectDist'].unique())
# Districts only in mayoral data (not in presidential)
only_in_mayor = mayor_districts - pres_districts
df_mayor_candidate[df_mayor_candidate['ElectDist'].isin(only_in_mayor)][['ElectDist', 'assembly_district', 'election_district', 'county']].drop_duplicates()

       ElectDist  assembly_district  election_district  county
472        23066                 23                 66  Queens
480        23068                 23                 68  Queens
494        23072                 23                 72  Queens
501        23073                 23                 73  Queens
508        23074                 23                 74  Queens
...          ...                ...                ...     ...
28977      82052                 82                 52   Bronx
29085      82067                 82                 67   Bronx
29517      83057                 83                 57   Bronx
30368      85063                 85                 63   Bronx
30989      87033                 87                 33   Bronx

[75 rows x 4 columns]

In [9]:
only_in_pres = pres_districts - mayor_districts
df_pres_candidate[df_pres_candidate['ElectDist'].isin(only_in_pres)][['ElectDist', 'assembly_district', 'election_district', 'county']].drop_duplicates()

       ElectDist  assembly_district  election_district  county
175        23061                 23                 61  Queens
382        24066                 24                 66  Queens
528        25049                 25                 49  Queens
530        25050                 25                 50  Queens
710        26062                 26                 62  Queens
...          ...                ...                ...     ...
12124      86051                 86                 51   Bronx
12130      86053                 86                 53   Bronx
12291      87056                 87                 56   Bronx
12293      87057                 87                 57   Bronx
12295      87059                 87                 59   Bronx

[145 rows x 4 columns]

In [ ]:
mayor = pd.read_csv('citywide_mayor_citywide.csv')

mayor.rename(columns={mayor.columns[-1]: 'last'}, inplace=True)
mayor['last'] = mayor['last'].str.replace(',', '').astype(int)
#mayor.iloc[:, -1] = mayor.iloc[:, -1].str.replace(',', '').astype(int)
mayor['last'].sum()